In [18]:
def is_two(n):
    if n == 2 or '2':
        return True
    else:
        return False

In [17]:
is_two('2')

True

In [36]:
def is_vowel(letter):
    if letter in ('a', 'e', 'i', 'o', 'u'):
        return True
    else: 
        return False

In [37]:
is_vowel('k')

False

In [42]:
def is_consonant(letter):
    if letter not in ('a', 'e', 'i', 'o', 'u'):
        return True
    else: 
        return False

In [44]:
is_consonant('a')

True

In [51]:
def proper_noun(noun):
    result = noun.capitalize()
    return result

In [52]:
proper_noun('brooke')

'Brooke'

In [136]:
total_bill = 50
desired_tip = .15

def calculate_tip(total_bill, desired_tip):
    return total_bill * desired_tip

In [137]:
calculate_tip(400, desired_tip)

60.0

In [138]:
original_price = 150
discount = 50

def apply_discount(original_price, discount):
    return original - (original_price * (discount/100))

In [140]:
apply_discount(150, discount)

NameError: name 'original' is not defined

In [134]:
def handle_commas(number):
    return int(number.replace(',',''))

In [135]:
handle_commas('8,000,000')

8000000

In [95]:
def get_letter_grade(grade):
    if grade <= 69:
        return 'F'
    elif grade <= 74 and grade > 69:
        return 'D'
    elif grade <= 79 and grade > 74:
        return 'C'
    elif grade <= 89 and grade > 79:
        return 'B'
    elif grade <= 100 and grade > 89:
        return 'A'
    else:
        return False

In [101]:
get_letter_grade(10)

'F'

In [116]:
def remove_vowels(word):
    vowels = ['a','e','i','o','u']
    result = [letter for letter in word if letter.lower() not in vowels]
    result = ''.join(result)
    return result

In [117]:
remove_vowels('brooke')

'brk'

Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
anything that is not a valid python identifier should be removed
leading and trailing whitespace should be removed
everything should be lowercase
spaces should be replaced with underscores
for example:
Name will become name
First Name will become first_name
% Completed will become completed

In [132]:
def normalize_name(name):
    result = name.strip(), name.replace(' ','_'), name.lower()
    return result

In [133]:
normalize_name(' First Name ')

('First Name', '_First_Name_', ' first name ')