In [ ]:
brooke * 3

In [2]:
"brooke" * 3

'brookebrookebrooke'

In [3]:
"o" in "brooke"

True

In [4]:
"s" in "brooke"

False

Exercises on Control Structures Scratchpad:

In [2]:
i = 0
while i <= 100:
    print (i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [3]:
i = 100
while i >= -10:
    print (i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

In [1]:
i = 2
while i < 1000000:
    print (i)
    i = i ** 2

2
4
16
256
65536

In [14]:
i = 100
while i >= 5:
    print (i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

day_of_the_week = input("What day of the week is it?")

if day_of_the_week.lower() == ("saturday" or "sunday"):
    print ("Yay! It's the weekend!")
else:
    print ("It's a weekday.")

In [18]:
chosen_number = input("Enter any number here: ")

for number in chosen_number:
    print(f'{chosen_number} x 1 = {chosen_number * 1}')

Enter any number here: 9
9 x 1 = 9

The above only gives us one line, and I need ten. I need figure out a way to make this continue to 10... Googling...

In [2]:
#This is what I found. I like it, but I need it to get user input
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [3]:
# Multiplication table (from 1 to 10) in Python

users_number = int(input("Enter any number here: "))

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(users_number, 'x', i, '=', users_number * i)

Enter any number here: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [4]:
user_number = int(input("Enter any number here: "))

Enter any number here: 6

In [5]:
for i in range(1, 11):
    print(user_number, 'x', i, '=', user_number * i)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [6]:
for r in range(1, 10):
    print(str(r) * r)

1
22
333
4444
55555
666666
7777777
88888888
999999999